<footer class="mt-auto vortexkeep-footer">
    <div class="container py-4"> 
        <div class="row align-items-center"> 
            <div class="col-md-6 d-flex align-items-center">
                <img [src]="'vortexkeep-logo-with-text.png'" alt="VortexKeep Logo" style="height: 30px;">
                <p class="mb-0 ms-2">&copy; 2025 VortexKeep. All rights reserved.</p>
            </div>
            
            <div class="col-md-6 text-md-end">
                <ul class="list-unstyled d-flex justify-content-end align-items-center mb-0">
                    <li class="ms-3"><a class="link-underline-opacity-0 nav-link" href="#">Privacy Policy</a></li>
                    <li class="ms-3"><a class="link-underline-opacity-0 nav-link" href="#">Terms of Service</a></li>
                    <li class="ms-3"><a class="link-underline-opacity-0 nav-link" href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>